
@import url('https://fonts.googleapis.com/css2?&family=Noto+Sans+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans Display', sans-serif;
    position: relative;
}


.main-login{
    width: 100vw;
    height: 115vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s linear;
}

.main-login.light {
 background: #bfb5b5;
}

.box-key {
    position: absolute;
    top: 30px;
    right: 10%;
    display: flex;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.label {
    background: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    height: 23px;
    width: 54px;
    transform: scale(1.5);
}

.label .ball{
 background: #fff;
 border-radius: 35px;
 position: absolute;
 top: 1px;
 left: 1px;
 height: 20px;
 width: 20px;
 transform: translateX(0px);
 transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(30px);
}

.ph-sun {
    color: #fff;
}

.ph-moon {
    color: #fff;
}


.left-login {
 width: 50vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.left-login h1 {
 color: #77ffc0;
}

.left-login-animation{
 width: 35vw;
 font-size: 3vw;
}

.right-login {
 width: 50vw;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

.card-login{
    width: 60%; /*Ocupa 60% de largura da div right-login. Ou seja,60% de 50vw*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px; /*Primeiro valor: top, bottom. Segundo valor: left e right*/
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;/* sombra top bottom blur cor*/
}

.card-login h1 {
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}

.textField {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textField input {
 width: 100%;
 border: none;
 border-radius: 10px;
 padding: 15px;
 background: #514869;
 color: #f0ffffde;
 font-size: 12pt;
 box-shadow: 0px 10px 40px #00000056;
 outline: none;
 box-sizing: border-box;
}

.textField label {
    color:  #f0ffffde;
    margin-bottom: 10px;
}

.textField input::placeholder {
    color:  #f0ffff94 ;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background:  #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

@media only screen and (max-width: 950px) {

    .card-login {
        width: 85%;
    }

    .left-login-animation {
        width: 60vw;
     }
}

@media only screen and (max-width: 600px) {
    
 .main-login {
    flex-direction: column;
 }

 .left-login h1 {
    display: none;
 }

 .left-login{
    width: 100%;
    height: auto;
 }

 .right-login{
    width: 100%;
    height: auto;
 }

 .left-login-animation {
    width: 100vw;
 }

 .card-login {
    width: 90%;
 }

 @media only screen and (max-width: 390px) {
    .main-login {
        height:125vh;
    }
 }

 @media only screen and (max-width: 320px) {
    .main-login {
        height: 140vh;
    }
 }
}
